.vscode/
Assembly-CSharp.csproj
Library/
Logs/
ProjectSettings/
Sparkathon.sln
Temp/
Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.Editor.csproj
Unity.XR.Interaction.Toolkit.Samples.ARStarterAssets.csproj
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.Editor.csproj
Unity.XR.Interaction.Toolkit.Samples.StarterAssets.csproj
UserSettings/
built/